<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">

    <listeners>
        <listener class-name="org.avenga.reporting.ExtentListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="[TS_001] Books">
        <classes>
            <class name="org.avenga.tests.TS_001_Books"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="[TS_002] Authors">
        <classes>
            <class name="org.avenga.tests.TS_002_Authors"/>
        </classes>
    </test>
</suite>